/*
    Created on : 01-dic-2013, 12:44:07
    Author     : Óscar Bravo
    Description: Estilos especificos para la aplicacion
    COLORES:
            AZUL: #3e7f9d
            ROSA: #df7575
*/
.limpiar{clear: both;}
.pagina_portada{
    background: #3e7f9d;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}
.pagina_portada a{
    text-decoration: none;
    color: #fff!important;
    line-height: 60px;
}
.pagina_portada .ui-btn-active{
    background: #df7575;
    border: solid 2px #fff;
}
.pagina_portada .ui-btn-up-c{
    background: #df7575;
    border: solid 2px #fff;
}
.pagina_portada .ui-btn-hover-c{
    background: #df7575;
    border: solid 2px #fff;
}
/*---------------------------------- CABECERA ----------------------------------*/
.cabecera{
    background: #3e7f9d;
    text-align: center;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cabecera img{vertical-align: middle;}
/*88888888888888888888888888888888888888 MENU LATERAL 88888888888888888888888888*/
.enlace_menu{
    background: #3e7f9d;
    border: none;
    background: url('images/icons-36-white.png');
    background-position: 1876px;
    padding-top: 6px;
}
.cabecera_menu{
    border: none;
    background: #df7575;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -15px;
}
.menu_lateral{
    background: #fff;
}
.menu_lateral ul{
    list-style: none;
    margin-left: -40px!important;
}
.menu_lateral li{
    border-bottom: solid 1px #3e7f9d;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 5px;
}
.menu_lateral a{
    color: #3e7f9d;
    text-decoration: none;
}
.enlaces_menu{
    margin-left: -5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.enlace_refrescar{
    background: #3e7f9d;
    border: none;
    background: url('images/icons-36-white.png');
    background-position: 1074px;;
    padding-top: 6px;
    float: right;
}
/*+++++++++++++++++++TABLA DE LA QUINIELA+++++++++++++++++++++++++++++++++++++++*/
.tabla_quiniela{
    width: 100%;
    border-spacing: 0;
    margin-top: 15px;
}
.celdas_partidos{
    vertical-align: middle;
    color: #3e7f9d;
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    border-bottom: dotted 1px #3e7f9d;
    border-right: solid 1px #df7575;
}
.celdas_qn{
    width: 35px;
    height: 39px;
    margin: 0px;
    padding: 0px;
    vertical-align: -32px;
    border: solid 3px #DF7575;
    border-collapse: collapse;
}
.arreglo_ck{
    border-radius: 0px!important;
}
.ui-checkbox-off{
    background: #fff!important;
}
.ui-checkbox-off span{
    color: #df7575;
}
.quinielas_a_s{
    color: #fff;
    background: #df7575;
    text-align: center;
    width: 23%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid #df7575 2px;
    float: left;
}
.fecha_quiniela{
    color: #3e7f9d;
    text-align: center;
    width: 48%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid #df7575 2px;
    float: left;
    font-weight: bold;
}
.fecha_quiniela_completa{
    color: #3e7f9d;
    text-align: center;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid #df7575 2px;
    font-weight: bold;
}